@font-face {
    font-family: "Raleway";
    src: url('../assets/fonts/Raleway/Raleway-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('../assets/fonts/Raleway/Raleway-Black.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #201F1F;

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.site-heading {
    text-transform: uppercase;
    line-height: 1;
    font-family: Raleway;
}

.site-heading .site-heading-lower {
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem;
}

.site-heading .site-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: bold;
}

.text-primary {
    color: #e6a756!important;
}

/* NAVBAR */

#mainNav {
    background-color: rgba(47,23,15,.9);
    font-family: Raleway;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
    color: #e6a756;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: .9rem;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
}

#mainNav .navbar-brand {
    color: #e6a756;
}

@media (min-width: 992px){ 
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    } 
    
}

.font-weight-bold {
    font-weight: 700!important;
}

/* END OF NAVBAR */

.footer {
    position:fixed;
    bottom:0;
    width:100%;   /* Height of the footer */
    background:#6cf;
}

.bg-image {
    width: 100%;
    min-height: 80vh;
    position: relative;
}

.bg-image::before {
    content: "";
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(4px); /* Ajoute un flou à l'image de fond */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Placez l'élément pseudo en arrière-plan */
    
}

.overlay {
    position: absolute;
    top: 50%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, -50%); /* Centrer parfaitement */
    text-align: center; /* Aligner le texte au centre */
    color: white; /* Couleur du texte */
}


/* PORTFOLIO */

.imgPortofolio {
    padding-bottom: 8rem;
}

.modal-content {
    background-color: #201F1F;
}

.modal-xxl {
    --bs-modal-width:1500px;
}

.btn-lightwarning {
    --bs-btn-color: #fff;
    --bs-btn-bg: #E6A756;
    --bs-btn-border-color: #E6A756;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #e29735;
    --bs-btn-hover-border-color: #ee9116;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #E6A756;
    --bs-btn-active-border-color: #1d1e20;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #E6A756;
    --bs-btn-disabled-border-color: #E6A756;
}

.text-bg-lightwarning {
    color: white!important;
    background-color: RGBA(230, 168, 86,var(--bs-bg-opacity,1))!important;
}

.fa-brands {
    padding-bottom: 1rem;
    color:white;
    transition: color 0.3s ease;
}

.fa-brands:hover {
    color:#E6A756;
}